.weather-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2;
}

.weather-source-wrapper {
    margin-bottom: 2rem;
}

.weather-source-wrapper p {
    margin-bottom: 0;
}

.select-location-wrapper {
    margin-bottom: 2rem;
}

.select-location-wrapper p {
    margin-bottom: 0;
}

.temperature-wrapper p{
    margin-bottom: 0;
}

@media screen and (max-width : 320px)
{
    .weather-wrapper {
        font-size: 1rem;
    }
}