
PORT={{ app_port }}
SKIP_PREFLIGHT_CHECK=true
REACT_APP_WEATHER_APIXU_API_KEY={{ REACT_APP_WEATHER_APIXU_API_KEY }}
REACT_APP_WEATHER_STORMGLASS_API_KEY={{ REACT_APP_WEATHER_STORMGLASS_API_KEY }}
REACT_APP_WEATHER_SOPENCAGEDATA_API_KEY={{ REACT_APP_WEATHER_SOPENCAGEDATA_API_KEY }}
NODE_PATH: src